.col-0{
	text-align: center;
	font-size: 30px;
	

}
/*.row{
	width: 100%;
}*/


.col-1{
	border: 2px solid #fff;
	background-color: #f6b319;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 70%;
	font-family: helvetica;
	color: #61122f;
	/*margin-left: 20px;*/
}

.col-2{
	border: 2px solid black;
	background-color: sandybrown;
	margin: 5px;
	float: left;
	padding: 10px;
	width: 30%;
	font-family: verdana;
}
.col-3{
	border: 2px solid black;
	background-color: deepskyblue;
	margin: 5px;
	float: left;
	padding: 10px;
	width: 30%;
	font-family: sans-serif
}
.col-4{
	background-color: pink;
	/*width: 5%;*/
	float: right;
	font-family: times new roman;
	font-size: 20px;
	padding: 5px;
}

.col-5{
	background-color: red;
	/*width: 5%;*/
	float: right;
	font-size: 18px;
	font-style: italic;
	padding:5px;
	}

.col-6{
	background-color: yellow;
	/*width: 5%;*/
	float: right;
	font-size: 14px;
	padding: 5px;
}
/*body*/

body{
	background-color: #61122f;
	color: #fff;
}

h1, h3{
	text-align: center;
}
/*nav-bar*/
.navbar{
	margin-bottom: 0;
	background-color: #f6b319;
}
#navbarScroll{
	background-color: #f6b319;
	text-align: center;
	margin-top: 0;
	color: #61122f;
}

.nav-item{
	border: 1px solid #fff;
}

.container{
	width: 100%;
}
 .nav-link:hover{
	background-color:#61122f;
	color: #fff;
}

/***********desktop******************/
/*@media(min-width: 992px){
	.col-1, .col-2, .col-3{
		float: left;
		/border: 1px solid red;/
		background-color: gray;
		color: white;
		padding: 10px;
		margin: 5px;
		
	}

	.col-1{
		width: 30%;
	}

	.col-2{
		width: 30%;
	}

	.col-3{
		width: 30%;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.col-1, .col-2, .col-3{
		float: left;
		/border: 1px solid red;/
		background-color: gray;
		color: white;
		padding: 10px;
		margin: 5px;
	}

	.col-1{
		width: 48.5%;
	}

	.col-2{
		width: 48.5%;
	}

	.col-3{
		width: 98.5%;
	}
}

@media(max-width: 767px){
	.col-1, .col-2, .col-3{
		float: left;
		/border: 1px solid red;/
		background-color: gray;
		color: white;
		padding: 10px;
		margin: 5px;
		width: 98.5%;
	}

	
}*/

